<form>
  <div class="contaner">
    <div class="form-row">
     
      <div class="col-4">
        <label for="inputEmail4">Name</label>
        <input type="text" class="form-control" placeholder="TeamName">
      </div>
    
      <div class="col-4">
        <label for="inputEmail4">Captain</label>
        <input type="text" class="form-control" placeholder="TeamCaptain">
      </div>
    <div class="col-4">

     
      <button class="btn btn-primary" type="submit"> <a class="btn btn-primary" href="http://localhost:4200/teams" role="">Add</a> </button>
    </div>
    </div>
  </div>
 </form>