<form>
    <div class="contaner">
      <div class="form-row">
        <div class="col">
          <label for="inputEmail4">Name</label>
          <input type= "number" class="form-control" placeholder="Name">
        </div>
        <div class="col-4">
          <label for="inputEmail4">Surname</label>
          <input type="text" class="form-control" placeholder="Surname">
        </div>
      
        <div class="col-4">
          <label for="inputEmail4">Age</label>
          <input type="number" class="form-control" placeholder="Age">
        </div>
      <div class="col-4">
    </div>
</div>
</div>
</form>  
