
<a routerLink="/create-team" class="btn btn-primary m-3">Add New Player</a>
<table class="table">
    <thead>
      <tr>
      <th scope ="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Age</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of players">
        <td>{{team.Name}}</td>
          <td>{{team.Surname}}</td>
          <td>{{team.Age}}</td>
          <td>
            <a routerLink="/update-team">Edit</a> |
            <a routerLink="#">Details</a> |
            <a routerLink="/delete-team">Delete</a> 
          </td>
      </tr>
    </tbody>
  </table>  
