
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" routerLink="/teams">Teams </a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Player">Player </a>
        </li>
        <li class="nav-item">

          <a class="nav-link" href="#">register</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">login</a>
        </li>
      </ul>
     
    </div>
  </nav>

<router-outlet></router-outlet>