
<a routerLink="/create-team" class="btn btn-primary m-3">Add New Team</a>
<table class="table">
    <thead>
      <tr>
      <th scope ="col">TeamID</th>
        <th scope="col">Team Name</th>
        <th scope="col">Team Captain</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{team.TeamID}}</td>
          <td>{{team.Name}}</td>
          <td>{{team.Captain}}</td>
          <td>
            <a routerLink="/update-team">Edit</a> |
            <a routerLink="#">Details</a> |
            <a routerLink="/delete-team">Delete</a> 
          </td>
      </tr>
    </tbody>
  </table>  